<div class="pokedex-container">
  <b>Favourite Pokemon</b>
  <div class="pokemon-list">
    @if (isLoading()) {
      <div>Loading...</div>
    } @else if (pokemonListItems().length) {
      @for (pokemon of pokemonListItems(); track pokemon.name) {
        <div class="pokemon-card">
          <a [routerLink]="getPokemonLink(pokemon.name)">
            <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
            <p class="pokemon-name">{{ pokemon.name }}</p>
          </a>
        </div>
      }
    } @else {
      <div>No Pokémon found.</div>
    }
  </div>
</div>
