<div class="pokedex-container">
  <b>Favourite Pokemon</b>
  <div class="pokemon-list">
    @if (pokemonList.isLoading()) {
      <div>Loading...</div>
    } @else if (pokemonList.error()) {
      <div>Error loading Pokemon: {{ pokemonList.error() }}</div>
    } @else if (pokemonList.value()) {
      @for (pokemon of pokemonList.value(); track pokemon.name) {
        <div class="pokemon-card">
          <a [routerLink]="getPokemonLink(pokemon.name)">
            <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
            <p class="pokemon-name">{{ pokemon.name }}</p>
          </a>
        </div>
      }
    }
  </div>
</div>
