<!-- Main banner -->
<div class="banner">
  @if (isDesktopUserAgent) {
    <img
      src="/assets/images/pokemon-banner.webp"
      fetchpriority="high"
      alt="Pokemon Banner with Pikachu" />
  } @else {
    <img
      src="/assets/images/pokemon-banner-mobile.webp"
      fetchpriority="high"
      alt="Pokemon Banner with Pikachu" />
  }
</div>
<!-- Secondary banners / teasers -->
<app-banner-grid />

{{ JSON.stringify(deviceInfo) }}
@if (isDesktopUserAgent) {
  DESKTOPPPP
}

<!-- Dynamic content -->
@defer (on viewport) {
  <app-pokemon-list />
} @placeholder {
  <b>Favourite Pokemon</b>
}

@defer (on viewport) {
  <div class="button-wrapper">
    <button mat-raised-button (click)="openDialog()">
      Pick your favorite via popup form
    </button>
    <button mat-raised-button (click)="openForm()">
      Pick your favorite via inline form
    </button>
    <!-- here we secure that no heavy calculation will affect the page load -->
    <!-- additionally by using @loading we make sure that our INP score will not be affected -->
    <!-- since showing the form allocates some time to do the calculation -->
    @if (!hideForm) {
      @defer {
        <app-form />
      } @loading (minimum 500ms) {
        <img
          class="loading-animation"
          alt="loading..."
          src="../assets/images/loading.gif" />
      }
    }
  </div>
} @placeholder {
  <div class="button-wrapper">
    <button mat-raised-button>Pick your favorite via popup form</button>
    <button mat-raised-button>Pick your favorite via inline form</button>
  </div>
}
