<!-- Main banner -->
<div class="banner">
  <img
    ngSrc="/assets/images/pokemon-banner-mobile-1x.webp"
    srcset="
      /assets/images/pokemon-banner-mobile-1x.webp  576w,
      /assets/images/pokemon-banner-mobile-2x.webp  992w,
      /assets/images/pokemon-banner.webp           1920w
    "
    placeholder
    fill
    priority
    alt="Pokemon Banner with Pikachu" />
</div>

<!-- Secondary banners / teasers -->
<app-banner-grid />

<!-- Dynamic content -->
@defer (on viewport; prefetch on idle) {
  <app-pokemon-list />
} @placeholder {
  <div class="pokedex-container">
    <b>Loading your favourite Pokémon...</b>
    <div class="pokemon-list">
      @for (index of [1, 2, 3, 4]; track $index) {
        <div class="pokemon-card skeleton">
          <div class="image-placeholder"></div>
          <p class="name-placeholder"></p>
        </div>
      }
    </div>
  </div>
}

@defer (on viewport) {
  <div class="button-wrapper">
    <button mat-raised-button (click)="openDialog()">
      Pick your favorite via popup form
    </button>
    <button mat-raised-button (click)="openForm()">
      Pick your favorite via inline form
    </button>
    <!-- here we secure that no heavy calculation will affect the page load -->
    <!-- additionally by using @loading we make sure that our INP score will not be affected -->
    <!-- since showing the form allocates some time to do the calculation -->
    @if (!hideForm) {
      @defer {
        <app-form />
      } @loading (minimum 500ms) {
        <img
          class="loading-animation"
          alt="loading..."
          src="../assets/images/loading.gif" />
      }
    }
  </div>
} @placeholder {
  <div class="button-wrapper">
    <button mat-raised-button>Pick your favorite via popup form</button>
    <button mat-raised-button>Pick your favorite via inline form</button>
  </div>
}
