.banner {
  min-height: 50vh;
  position: relative;
  width: 100%;

  @media (max-width: 400px) {
    min-height: 45vh;
  }

  @media(min-width: 960px) {
    min-height: 480px;
  }

  > img {
    object-fit: cover;
  }
}

.button-wrapper {
  text-align: center;
  padding: 2rem;

  button {
    margin: 0.5rem;
  }
}

@media (max-width: 960px) {
  .pokemon-preview {
    display: none;
  }
}

.problematic-content {
  text-align: center;
  width: 100%;
}
