<div class="wrapper">
  <div>Welcome!</div>
  <div>
    This is a basic Angular app, featuring a pokedex to showcase some
    performance optimisation techniques within Angular SPAs.
  </div>
  <div>
    <a href="https://github.com/dimeloper/angular-optimization" target="_blank"
      >Read the documentation</a
    >
  </div>
  <a class="back-button" mat-raised-button routerLink="/pokedex-bad">
    Check out the bad practices Pokedex
  </a>
  <a class="back-button" mat-raised-button routerLink="/pokedex-optimized">
    Check out the optimized Pokedex
  </a>
</div>
