<!-- Back Button -->
<a class="back-button" mat-raised-button routerLink="/pokedex-optimized">
  &laquo; Back to Pokédex
</a>
<!--Main banner-->
<div class="banner">
  <img
    ngSrc="../assets/images/pokedex-banner.png"
    placeholder
    fill
    priority
    alt="Pokeball Banner" />
</div>

<div class="pokemon-content">
  <!--  here we leave the server side rendering do its magic :) -->
  <!--  usage of defer would force client side rendering and slow down the rendering -->
  <app-pokemon-details [pokemon]="pokemon" />
  <app-pokemon-details [pokemon]="pokemon" />
  <app-pokemon-details [pokemon]="pokemon" />
</div>

<!--since here we have bouncing content we also need to make sure that it won't cause layout shift -->
<div class="problematic-content">
  <!--and then only load it when the user has it on their viewport -->
  @defer (on viewport) {
    <app-problematic />
  } @placeholder {
    <img class="loading-animation" src="../assets/images/loading.gif" />
  }
</div>
