<!-- Back Button -->
<a class="back-button" mat-raised-button routerLink="/pokedex-optimized">
  &laquo; Back to Pokédex
</a>

<!-- Main banner -->
<div class="banner">
  <img
    ngSrc="/assets/images/pokedex-banner.webp"
    placeholder
    fill
    priority
    alt="Pokeball Banner" />
</div>

<div class="pokemon-content">
  @if (pokemon() === null) {
    <div style="height: 688px; display: flex; place-items: center">
      <img
        class="loading-animation"
        alt="loading animation..."
        src="../assets/images/loading.gif" />
    </div>
  } @else {
    <app-pokemon-details [pokemon]="pokemon()" />
  }
</div>

<!-- Prevent layout shift from deferred content -->
<div class="problematic-content">
  @defer (on viewport) {
    <app-problematic />
  } @placeholder {
    <img
      class="loading-animation"
      alt="loading animation..."
      src="../assets/images/loading.gif" />
  }
</div>
