<header>
  <mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button
        name="menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
        (click)="menuTrigger.openMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span>
          <button mat-menu-item routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <a mat-menu-item href="https://github.com/dimeloper" target="_blank">
            <mat-icon>people_outline</mat-icon>
            <span>About me</span>
          </a>
        </span>
      </mat-menu>
    </span>
    <span class="fill-remaining-space">PokeDex App</span>
  </mat-toolbar>
</header>
<main>
  <router-outlet />
</main>
<footer>
  <app-footer-animation />
</footer>
