.pokemon-teaser-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.pokemon-card {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0.5rem;
}
