.pokemon-card {
  background: white;
  border: 1px solid #ccc;
  margin: 0.5rem;
}

.button-wrapper {
  text-align: center;
  padding: 2rem;

  button {
    margin: 0.5rem;
  }
}

@media (max-width: 960px) {
  .pokemon-teaser {
    max-height: 160px;
    max-width: 160px;
  }

  .pokemon-preview {
    display: none;
  }
}
