:host {
  position: relative;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.pokemon-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -7rem;

  @media (max-width: 960px) {
    flex-direction: column;
  }
}
